<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bykeMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>933A842C1924D5D200676CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>933A844D1924D5D700676CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939347CD1AE3E2AB00DC7356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
